@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Oswald&display=swap');

$primary-colour: rgba(209, 169, 9, 0.9);
$secondary-colour2: rgb(13, 146, 228);
$secondary-colour:palevioletred;