@import '../styles/setup';
@import '../styles/vars';


body{
  font-size: 125%;
  background-color: $primary-colour; 
  letter-spacing: 1.1px;
  line-height: 1.5rem;
}

.heroImage{
  max-width: 20rem;
  max-height: 60rem;
  object-fit: cover;
}