@import '../styles/setup';
@import '../styles/vars';

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    border: 2px solid $secondary-colour;
    box-shadow: 2px 4px $secondary-colour;
    margin: 0 auto;
}

input,textarea,button{
    background-color: $secondary-colour;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 1rem;
    resize: none;
    border: 2px solid $primary-colour;    
    width: 100%;
}

button{
    width: 8rem;
}


button:hover{
    background-color: #999999;
    cursor: pointer;
}