@import '../styles/setup';
@import '../styles/vars';

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
}

input,textarea,button{
    width: 33%;
    background-color: #d3d3d3;
    border-radius: 50px;
    text-align: center;
    padding: 1rem;
    resize: none;
    border: 2px solid $primary-colour;
}

button{
    width: 8rem;
}

button:hover{
    background-color: #999999;
    cursor: pointer;
}