@import '../styles/vars';
@import '../styles/setup';

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.title{
	color: #000000;
	font-size: 3rem;	
	text-decoration: none;
}

.navlist{
	display: flex;
	list-style-type: none;
	margin: 0;
	justify-content: center;
	gap: 2rem;
	font-weight: bold;
}
.navitem{
	color: $secondary-colour;
	text-decoration: none;	
	display: inline-block;

}

.navitem:hover{
	color: #666666;
	transform: scale(1.1);
}

.active-nav-item{
	color: #333333;
}